<div layout="column" ng-cloak="" class="autocompletedemoCustomTemplate">
         <md-content layout-padding="" layout="column">
             <div class="containerDiv">
                <i class="alignsearchIcon material-icons">search</i> 
        <md-autocomplete md-selected-item="selectedItem" md-search-text-change="searchTextChange(searchText)" md-search-text="searchText" md-selected-item-change="selectedItemChange(item)" md-items="item in querySearchClient(searchText)" md-item-text="item.name" md-min-length="0" placeholder="SEARCH (Client Name / Plolicy Number)" md-menu-class="autocomplete-custom-template">
          <md-item-template>
            <span class="item-title">
              <span> {{item.name}} </span>
            </span>
            <span class="item-metadata">
              <div>
                    <i class="material-icons">phone</i><strong>{{item.phone}}</strong>
              </div>
              <div>
                @ <strong>{{item.email}}</strong>
              </div>
              <div>
                    <span><i class="material-icons">description</i></span> Policy no. <strong>{{item.policyNo}}</strong>
              </div>
            </span>
          </md-item-template>
        </md-autocomplete>
        </div>
    </md-content>
  </div>